.container.hidden-xs
  .content.features
    .image-drawer.row
      .col-sm-4.col-md-4.col-xs-12.featured.pizza{data:{arrow:"13.5%",content:"pizza",shift:"0px"}}
      .col-sm-4.col-md-4.col-xs-12.featured.beer{data:{arrow:"49%",content:"beer",shift:"245px"}}
      .col-sm-4.col-md-4.col-xs-12.featured.game{data:{arrow:"84.5%",content:"game",shift:"490px"}}
.split.hidden-xs
  .container
    .col-md-12
      .arrow
    .content.details
      .row.pizza
        .close
          &times;
        .col-md-4.col-sm-4.col-xs-12
          %img{src:"http://placekitten.com/g/200/200"}
        .col-md-8.col-sm-8.col-xs-12
          .row.name Pizza Pizza Pizza
          .row
            .col-md-3.col-sm-3.separator
          .row.description
            %p Some Text will go here
      .row.beer
        .col-md-12.sol-sm-12{style:"display:block;height:10px;"}
        .close
          &times;
        .col-md-4.col-sm-4
          %img{src:"http://placekitten.com/g/200/200"}
        .col-md-8.col-sm-8
          .row.name Beer Beer Beer
          .row
            .col-md-3.col-sm-3.separator
          .row.description
            %p Some Text will go here
      .row.game
        .col-md-12.col-sm-12{style:"display:block;height:10px;"}
        .close
          &times;
        .col-md-4.col-sm-4
          %img{src:"http://placekitten.com/g/200/200"}
        .col-md-8.col-sm-8
          .row.name Games Games Games
          .row
            .col-md-3.col-sm-3.separator
          .row.description
            %p Some Text will go here
.container.information
  .content
    .row.headers
      .col-md-4.col-sm-4
        %h2 News
        .light
        .news-item
          - @news.each do |post|
            %a{href:post_path(post)}=post.title
      .col-md-4.col-sm-4
        %h2 Hours
        .light
        .hours
          %p M-F 11am-10pm
          %p Sat 11am-12pm
          %p Sun 11am-9pm
      .col-md-4.col-sm-4
        %h2 Location
        .light
        .location
          %p 111 S Dubuque St
          %p Iowa City, IA 52240
          %a Map
    .row
      .col-md-8.col-xs8.hidden-xs
        =render "carousel", handlers:[:erb]
.container.mobile-features.hidden-sm.hidden-md.hidden-lg
  .row
    %h3 Featured Beer:
    %h3 New Belgium Ranger
    .col-xs-12.feature-image
      %img{src:"http://placekitten.com/g/150/150"}
    .col-xs-12.feature-text
      .light
      .description
        %p Some Text will go here
     
  .row
    %h2 Featured Game
  .row
    %h2 Featured Pizza






