.container
  .content
    .image-drawer.row
      .col-md-4.col-xs-12.featured.pizza
        .title{data:{arrow:"13.5%",content:"pizza"}} Feature Pizza
      .col-md-4.col-xs-12.featured.beer
        .title{data:{arrow:"49%",content:"beer"}} Feature Beer
      .col-md-4.col-xs-12.featured.game
        .title{data:{arrow:"84.5%",content:"game"}} Feature Game
.split
  .container
    .col-md-12
      .arrow
      .close
        &times;
.container{style:"height:100px;"}
  .row
    .col-md-4






