.container
  .content
    .image-drawer.row
      .col-md-4.featured.pizza
        .title{data:{arrow:"120px",content:"pizza"}} Feature Pizza
      .col-md-4.featured.beer
        .title{data:{arrow:"430px",content:"beer"}} Feature Beer
      .col-md-4.featured.game
        .title{data:{arrow:"760px",content:"game"}} Feature Game
.split
  .container
    .col-md-12
      .arrow
.container{style:"height:100px;"}






