.container
  .content
    .image-drawer.row
      .col-md-4.featured.pizza
        .title Feature Pizza
      .col-md-4.featured.beer
        .title Feature Beer
      .col-md-4.featured.game
        .title Feature Game







