.container.information
  .content
    .row.headers
      .col-md-4.col-sm-4
        %h2 Hours
        .light
        .hours
          %p Mon-Sat 11am-Midnight
          %p Sun 11am-10pm
      .col-md-4.col-sm-4
        %h2 Location
        .light
        .location
          %p 111 S Dubuque St
          %p Iowa City, IA 52240
          %a{href:"https://www.google.com/maps/place/111+S+Dubuque+St,+Iowa+City,+IA+52240/@41.659626,-91.533393,17z/data=!3m1!4b1!4m2!3m1!1s0x87e441ee3630d52d:0x86e066febe163cd9"} Map
      .col-md-4.col-sm-4
        %h2 Links
        .light
        .location
          %a{href:"https://www.facebook.com/icforbiddenplanet"}Facebook
          %a{href:"https://twitter.com/ICFParcade"}Twitter
          %a{href:"http://instagram.com/icforbiddenplanet"}Instagram
