.container.news
  .col-md-8.col-sm-8.col-xs-12
    %h1=@post.title
    %h3=@post.created_at.strftime("%b %m.%d.%Y")
    .post_body
      =raw @post.body
    .col-md-6.col-sm-6.col-xs-6.previous
      - if @previous
        %a{href:news_path(@previous),class:"prev-arrow"}
        = link_to @previous.title, news_path(@previous),class:"prev-text"
    .col-md-6.col-sm-6.col-xs-6.next
      - if @next
        = link_to @next.title, news_path(@next),class:"next-text"
        %a{href:news_path(@next),class:"next-arrow"}
  .col-md-4.col-sm-4.col-xs-12.features
    .col-md-12.col-sm-12.col-xs-6
      %a{href:"#"}
        %img{src:"/assets/featured-temp.png",style:"max-width:175px"}
    .col-md-12.col-sm-12.col-xs-6
      %a{href:"#"}
        %img{src:"/assets/featured-temp.png",style:"max-width:175px"}
    .col-md-12.col-sm-12.col-xs-12
      %a{href:"#"}
        %img{src:"/assets/featured-temp.png",style:"max-width:175px"}

