/*
  color scheme: http://paletton.com/#uid=11d0u0kqBsf8qPfiPwquSkeLZ9V
  yellows: http://paletton.com/#uid=31d1g0k8qw01GSW4BHVd1rgiomj
*/
/*$red:#C84A05;*/
$grey:#79AFC2;
$yellow:#DCDD29;

$blue:#6BA5B8;
$blue1:#B9DBE7;
$blue2:#FEFFFF;


$red:#EF3D52;
$red1:#F87786;
$red2:#FDCDD3;
$moreRed:#BE0C21;
$intenseRed:#6F000D;
$yellow:#E1B426;
$yellow1:#FFDB69;
$yellow2:#FFEFBC;

$intenseGreen:#4A933F;
$moreGreen:#75B46B;
$green:#A3D39C;
$green1:#C8E5C4;
$green2:#E9F4E7;
