@import "bootstrap";
@import "xs_offsets";


.error_text, .field_warning
{
  color:red;
}


.container
{
  width:970px;
}
.content
{
  padding-top:60px;
}

.form-horizontal .form-group
{
  margin-left:0px;
}
.field_with_errors
{
  display:inline-block;
  width:100%;
}
.input-group
{
  margin-left:15px;
  margin-bottom:15px;
}
.amount
{
  width:292px;
}
.remove-price
{
  margin-left:15px;
}
.add-price
{
  margin-bottom:15px;
}
