@import "colors";
$magazine: #FFF8E9;

body
{
  font-family:Menlo;
  background-color:$magazine;
}
.logo-text
{
  position:relative;
  right:40px;
}
.banner
{
  padding-top:30px;
  background-color:black;
  color:$grey;
  text-align:center;
  a
  {
    color:$grey;
  }
  ul
  {
    list-style-type:none;
    margin-top:25px;
    margin-bottom:15px;
    font-size:26px;
    position:relative;
    right:25px;
    li
    {
      display:inline-block;
      margin-left:30px;
      .chev
      {
        color:black;
      }
      &:hover
      {
        .chev{
          color:$grey;
        }
        a
        {
          text-decoration:none;
          cursor:pointer;
        }
      }

    }

  }
}

.content
{

}
.image-drawer
{
  /*margin:0 auto;*/
  margin-bottom:50px;
}
.featured
{
  display:inline-block;
  height:400px;
  background-size:250px 400px;
  background-repeat:no-repeat;
  background-position:center;
  background-image:url('http://placekitten.com/g/250/400');
  .title{
    background-color:rgba(0,0,0,.7);
    transform: rotate(-90deg);
    display: inline-block;
    height: 250px;
    width: 400px;
    position: relative;
    right: 53px;
    top: 75px;
    color: $red;
    text-align: center;
    font-size: 40px;
    .active
    {
      visibility:hidden;
    }
  }
}

