@import "colors";
$magazine: #FFF8E9;

body
{
  font-family:Menlo;
  min-width:500px;
}
.logo-text
{
  position:relative;
  right:40px;
}
.information p
{
  color:$red2;
}
.information a
{
  color:$blue;
  &:hover
  {
    color:$blue1;
  }
}
.banner
{
  padding-top:30px;
  background-color:black;
  color:$grey;
  text-align:center;
  .chev
  {
    color:black;
  }
  .chev.active
  {
    color:$grey;
  }
  .info
  {
    margin-top:25px;
    margin-bottom:15px;
    font-size:19px;
    a
    {
      color:$grey;
      &:hover
      {
          text-decoration:none;
          cursor:pointer;
      }
    }
    .item
    {
      &:hover{
        .chev{
          color:$grey;
        }
      }
    }
    


  }
}

.content
{

}
.features
{
  margin: 20px 0px;
}
.separator
{
  display:block;
  height:1px;
  background-color:black;
  margin:8px 0px;
}
.featured
{
  display:inline-block;
  height:200px;
  background-size:250px 200px;
  background-repeat:no-repeat;
  background-position:center;
  text-align:center;
  /*background-image:url('/assets/featured-temp.png');*/
  img
  {
    box-shadow: #6BA5B8 0px 1px 16px 6px;
    border-radius: 16px;
  }
  .title{
    background-color:rgba(0,0,0,.7);
    transform: rotate(-90deg);
    display: inline-block;
    height: 250px;
    width: 400px;
    position: relative;
    right: 53px;
    top: 75px;
    color: $red;
    text-align: center;
    font-size: 40px;
    &:hover
    {
      cursor:pointer;
    }
  }
  &:hover
  {
    cursor:pointer;
  }

}
.headers h2
{
  text-align:center;
  color:$blue;
}
.light
{
  display:block;
  height:1px;
  background-color:$moreRed;
  width:60%;
  margin:0 auto;
  box-shadow:$moreRed 0 0 8px 2px;
}
.horizontal-light
{
  display:block;
  width:1px;
  background-color:red;
  box-shadow:6px 0 0 red;
}
.information
{
  margin-bottom:25px;
}
.news-item, .hours, .location
{
  margin-top:25px;
  text-align:center;
}
.news-item a, .hours a, .location a
{
  display:block;
  margin:0 0 10px;
}
.sitemap
{
  height:125px;
  background-color:black;
  position:fixed;
  bottom:0px;
}
.mobile-features
{
  text-align:center;
  .featured
  {
    margin-bottom:25px;
  }
}
.description
{
  p
  {
    font-size:11px;
  }
}
.news-features
{
  margin-top:40px;
  .featured
  {
    margin-bottom:30px;
  }
}
@media (max-width: 992px) {
  .featured
  {
    background-size:200px 300px;
    background-repeat:no-repeat;
    background-position:center;
    .title
    {
      height:200px;
      width:300px;
      right:40px;
      top:50px;
    }
  }
}
.split
{
  width:100%;
  background-color:$blue1;
  overflow:hidden;
  height:250px;
  display:none;
  box-shadow: inset 0 10px 10px -10px black,
              inset 0 -10px 10px -10px black;
}
.arrow
{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12.5px 0 12.5px;
  border-color: black transparent transparent transparent;
  position:relative;
  left:13.5%;
}
.close
{
  font-size:30px;
  position:relative;
  right:40px;
}
.details
{
  position:relative;
  bottom:0px;
  img
  {
    margin:0 auto;
    display:block;
  }
}
.details>.row
{
  padding-bottom:10px;
  padding-top:25px;
}


.news
{
  padding-bottom:50px;
  h1, h3
  {
    text-align:center;
    color:$intenseGreen;
  }

  .post_body
  {
    margin:35px 0px;
    p {color: $green}
  }

  .next a.next-text, a.prev-text
  {
    display: inline-block;
    position: relative;
    bottom: 7px;
  }

  .previous a.prev-arrow, .next a.next-arrow
  {
    -webkit-mask-repeat:no-repeat;
    line-height:26px;
    display: inline-block;
    height: 25px;
    width: 75px;
    /*background-image: url('/assets/pointer-grad.png');*/
    background-color:$blue1;

  }
  .previous a.prev-arrow
  {
    -webkit-mask-image:url('/assets/prev-mask.png');
  }
  

  .next a.next-arrow
  {
    -webkit-mask-image:url('/assets/next-neutral.png');
  }
  .previous
  {
    text-align:right;
  }
  .features
  {
    text-align:center;
    div{margin-bottom:50px;}
  }
}

