@import "colors";
.products
{
  margin-top:25px;
  h4, h2
  {
    text-align:center;
    margin-top:0px;
  }
  .item
  {
      border-radius:4px;
  }
  .category-one 
  {
    .item
    {
      margin-right:5px;
      background-color:#ddd;
    }
    img{
      float:left;
    }
  }
  .category-two
  {
    .item{ 
    margin-left:5px;
      background-color:#ccc; }
    img{
      float:right;
    }
  }
  .item
  {
    padding:15px;
    margin-bottom:10px;
    img
    {
      margin-right:6px;
    }
  }
}
.index-featured
{
  border-radius:5px;
  background-color:#bbb;
  margin-top:15px;
  padding:20px 10px;
  h2
  {
    margin-top:0px;
    font-size:20px;
    text-align:center;
  }
  h2.title
  {
    font-weight:bold;
  }
}
@mixin indices($feature,$h3_1,$h3_2,$item_1,$item_2)
{
  h3
  {
    text-align:center;
  }
  .index-featured
  {
    background-color:$feature;
  }
  .category-one
  {
    h3{ color:$h3_1; }
    .item{ background-color:$item_1 }
  }
  .category-two 
  {
    h3{ color:$h3_2; }
    .item{ background-color:$item_2 }
  }

}
.pizza-index
{
  @include indices($yellow2,$red,$blue,$blue1,$red1)
}
.beer-index
{
  @include indices($blue1,$green,$red,$red1,$green1)
}
.game-index
{
  @include indices($green,$blue,$yellow,$yellow2,$blue1)
}
.other
{
  text-align:center;
}
.other ul
{
  list-style-type:none;
  li
  {
    display:inline-block;
  }
  li:before
  {
    content:"|";
  }
  li:first-child:before
  {
    content:"";
  }

}
.image-container
{
  text-align:center;
  img
  {
    box-shadow: white 0px 1px 16px 6px;
    border-radius: 16px;
  }
}
@media(max-width:770px){
  .products .item, .index-featured
  {
    margin-left:0px;
    margin-right:0px;
  }
}
