<!DOCTYPE html>
<html>
<head>
  <title>Forbidden Planet Pizzeria And Video Arcade</title>
  <link rel="icon" type="image/png" href="/assets/favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div class="logo">
      <img class="logo-text" src="/assets/fpt.png"/>
      <img class="logo-qmark" style="height:200px;" src="/assets/logo.gif"/>
    </div>
    <div class="container">
      <div class="row info">
        <div class='col-md-1 col-md-offset-2'><span class="chev">&rsaquo;</span><a>Pizza</a></div>
        <div class='col-md-1'><span class="chev">&rsaquo;</span><a>Beer</a></div>
        <div class='col-md-1'><span class="chev">&rsaquo;</span><a>Games</a></div>
        <div class='col-md-1'><span class="chev">&rsaquo;</span><a>New</a></div>
        <div class='col-md-1'><span class="chev">&rsaquo;</span><a>About</a></div>
        <div class='col-md-2'>
          <a><i class="fa fa-facebook"></i></a>
          <a><i class="fa fa-twitter"></i></a>
          <a><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
